<nav class="bg-gray-900 text-white px-6 py-4 flex gap-4">
  <a
    routerLink="/page-1"
    routerLinkActive="text-yellow-400"
    class="hover:text-yellow-300"
  >
    Page 1
  </a>
  <a
    routerLink="/page-2"
    routerLinkActive="text-yellow-400"
    class="hover:text-yellow-300"
  >
    Page 2
  </a>
  <a
    routerLink="/page-3"
    routerLinkActive="text-yellow-400"
    class="hover:text-yellow-300"
  >
    Page 3
  </a>
  <a
    routerLink="/page-11"
    routerLinkActive="text-yellow-400"
    class="hover:text-yellow-300"
  >
    Page 11
  </a>
  <a
    routerLink="/page-12"
    routerLinkActive="text-yellow-400"
    class="hover:text-yellow-300"
  >
    Page 12
  </a>
</nav>

<div id="main-layout">
  <main class="p-6"><router-outlet /></main>
</div>
